.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.Footer {
  padding: 30px;
}

.Footer button {
  color: #FFFFFF;
  font-weight: bold;
  width: 100%;
}

.Button-red {
  background-color: red;
}

.Button-blue {
  background-color: blue;
}
